body{
    background-color: lightpink;
}
#p1{
    color:rebeccapurple;
}
#p2{
    color: blue;
}
#box{
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    font-size: 15em;
    text-align: center;
    animation-name: rotate;
    animation-duration: 3s;
}
@keyframes slideLeft{
    from{transform: translateX(300%);}
}
@keyframes slideRight{
    to{transform: translateX(300%);}
}
@keyframes rotate{
    50%{transform: rotateX(360deg)}
}